*{
    margin: 0;
    padding: 0;
    
}
.body{
    height: 100vh;
    width: 100%;
}
.heading-1{

    height: 100px;
    background-color: lightcyan;

}
.heading-2{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: lightgreen;

}
.content{
    height: 100vh;
    background-color: lightgrey;
}