.body{
      height: 100vh;
      width: 100%;
      margin: 0px;
      padding: 0px;
}
.nav{
    height:150px;
    width: 100%;    
}
.nav img{

    height: 70px;
    width: 60px;
    padding: 10px;

}
.box{
    display: flex;

}
.nav input{
    height: 30px;
    width: 30%;
    display: flex;
    margin: 30px;
    border-radius: 5px;
}
.location{
    height: 40px;
    width: 100px;
    margin: 30px;
    border-radius: 8px;
    background-color: white;


}
.nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
}
.hover :hover{
    
    background-color: rgb(0, 253, 0);
    border-radius: 8px;
}
.section img{
    height: 700px;
    width: 100%;
    margin-bottom: 10px;
}
.section-2{
    margin-left: 120px;
}
.section-3{
    display: flex;
    justify-content: center;
}
.pampers{
    height: 250px;
    width: 200px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 8px;
}
.section-4{
    display: flex;
    justify-content: center;
}

.pampers img{
    height: 180px;
    width: 150px;
    display: flex;
    justify-items: center;
    margin: 25px; 
}
.grocery img{
    height: 220px;
    width: 500px;
    border-radius: 8px;
    margin-top: 90px;
    display: flex;

}
.grocery-2 img{
    height: 350px;
    width: 500px;
    border-radius: 20px;;
    margin-left: 100px;
    display: flex;
    margin-top: 20px;


}
.box-2{
 
 height: 500px;
  width: 250px;
  background:rgb(253, 250, 250);
  border: 2px solid black;
  border-color: gray;
  padding-top: 20px;
  margin: 20px;
  border-radius: 15px;
  padding-left: 30px;
  text-align: left;
  padding-bottom: 50px;
  float: left;
  

}
.div-5{
  color:white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 2px solid black;
  width: 50px;
  height: 30px;
  background-color: red;
  text-align: center;
  
  

}
.box-3
{
  color:white;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 2px solid black;
  width: 50px;
  height: 30px;
  background-color: green;
  text-align: center;

  

}
.button-2{
  height: 40px;
  width: 80px;
  background-color: green;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  margin-left: 130px;

  
}
.image-5{
    height: 200px;
  width: 200px;

}
.rupees span{
  text-decoration: line-through;
  font-size: 16px;
  
}
.section-6{
    height: 200px;
    width: 100%;
    display: flex;
    margin:40px;
    
    

}
.section-6 i{
    font-size: 30px;
    color: rgb(20, 213, 20);
}

.section-6div-2{
    margin-left: 120px;
}